@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

.swal2-container {
  z-index: 1600;
}

#thinkstack-chat-window-toggler {
  z-index: 100 !important;
}

body {
  @apply bg-gray-100 text-gray-800;
}
.dark body {
  @apply bg-gray-900 text-gray-100;
}
